<h1>Stupid Coach</h1>
<div class="container">
  <div id="your-question">
  <p><%= params["question"] %></p>
  <p> -Your question </p>
  </div>

  <div id="stupid-answer">
  <%= @answer %>
  <p>-Coach answer</p>
  </div>
</div>
<footer>
  <%= link_to "Ask Again", ask_path %>
</footer>



