// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#your-question {
  display: flex;
  justify-content: space-around;
box-shadow: 2px 2px;
  align-items: center;
}
#stupid-answer {
  display: flex;
  justify-content: space-around;
box-shadow: 2px 2px;
  align-items: center;
}
.container {

}
